<div class="mb-5 pt-3">
  <a href="/dashboard/newpost/"><button id="new-post" class="button is-pulled-right">Create a new post</button></a>
  <h2 class="title">Dashboard</h2>
  <hr>
{{#if posts.length}}
</div>

{{#each posts as |post|}}

<div class="card">
  <header class="card-header">

    <div class="column">
      <p class="has-text-weight-normal"></p>
      <a href="/post/{{id}}" class="has-text-weight-normal is-pulled-left">{{title}}</a></p>
    </div>

    <div class="column">
      <span> </span>
    </div>

  </header>

  <div class="card-content">
    <div class="content has-text-justified">
      {{post}}
    </div>
    <div class="is-pulled-right">
      <b>{{user.name}}</b>
      {{format_date date_created}} <a href="/post/{{id}}"></a>
    </div>
  </div>

  <a href="/dashboard/edit/{{post.id}}"><button class="button">Edit post</button></a>
</div>
{{/each}}

{{else}}
<h6 class="has-text-centered">Create your first post</h6>

{{/if}}